<div class="container pad-top">
  <a ui-sref="newRecord" class="btn-primary btn-lg nodecoration">Add New Record</a>
  <table class="table recordtable">
      <tr>
          <td><h3>All Records</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="record in records">
          <td>{{record.artist}}</td>
          <td>{{record.name}}</td>
          <td>{{record.year}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewRecord({id:record.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteRecord(record)">Delete</a>
          </td>
      </tr>
  </table>
</div>
